<ul class="nav-list">
  {%- for node in include.nav -%}
    <li class="nav-list-item" data-url="{{ node.url}}" data-title="{{ node.title }}">
      {%- if node.children -%}
        <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
      {%- endif -%}
      <a href="{{ node.url | absolute_url }}" class="nav-list-link">{{ node.title }}</a>
      {%- if node.children -%}
        <ul class="nav-list ">
        {%- for child in node.children -%}
          <li class="nav-list-item" data-url="{{ child.url}}"  data-title="{{ child.title }}">
            {%- if child.children -%}
              <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
            {%- endif -%}
            <a href="{{ child.url | absolute_url }}" class="nav-list-link">{{ child.title }}</a>
            {%- if child.children -%}
              <ul class="nav-list">
              {%- for grand_child in child.children -%}
                <li class="nav-list-item" data-url="{{ grand_child.url}}" data-title="{{ grand_child.title }}">
                  <a href="{{ grand_child.url | absolute_url }}" class="nav-list-link">{{ grand_child.title }}</a>
                </li>
              {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
        </ul>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
