// Style iuml diagrams
.plantuml-diagram {
  position: relative;
  color: #333;

  /* stylelint-disable-next-line selector-max-type */
  svg {
    border: 2px solid #444;
  }

  .error-msg {
    padding: 0.5em;
    margin: 1em;
    background-color: #fdd;
    border: 1px solid #922;
  }

  .plantuml-diagram-open {
    position: absolute;
    right: 5px;
    bottom: 8px;
    font-size: smaller;
  }
}
